[submodule "Proffy-ReactJS"]
	path = Proffy-ReactJS
	url = https://github.com/Luciano-Ferreira/Proffy-ReactJS
[submodule "Proffy-mobile"]
	path = Proffy-mobile
	url = https://github.com/Luciano-Ferreira/Proffy-mobile
	
[submodule "Proffy-Node"]
	path = Proffy-Node
	url = https://github.com/Luciano-Ferreira/Proffy-Node
