[submodule "Proffy-NodeJS"]
	path = Proffy-NodeJS
	url = https://github.com/Luciano-Ferreira/Proffy-NodeJS
[submodule "Proffy-ReactJS"]
	path = Proffy-ReactJS
	url = https://github.com/Luciano-Ferreira/Proffy-ReactJS
[submodule "nlw-mobile"]
	path = nlw-mobile
	url = https://github.com/Luciano-Ferreira/nlw-mobile
