[submodule "Proffy-ReactJS"]
	path = Proffy-ReactJS
	url = https://github.com/Luciano-Ferreira/Proffy-ReactJS
[submodule "Proffy-mobile"]
	path = Proffy-mobile
	url = https://github.com/Luciano-Ferreira/Proffy-mobile
[submodule "Proffy-NodeJS"]
	path = Proffy-NodeJS
	url = https://github.com/Luciano-Ferreira/Proffy-NodeJS
